<div *ngIf="project">
    <mat-toolbar class="project-detail">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Nombre del proyecto" maxlength="200" [(ngModel)]="project.name" #name
                (keyup.enter)="setName(name.value)" (blur)="setName(name.value);">
        </mat-form-field>
        <mat-form-field appearance="outline"><input matInput placeholder="Descripcion del proyecto" maxlength="350"
                [(ngModel)]="project.description" #description (keyup.enter)="setDescription(description.value)" (blur)="setDescription(description.value);">
        </mat-form-field>
        <span class="fill-remaining"></span>
        <span>Creado el: {{ project.createdAt | date:'d/M/y' }} </span>
        <button mat-icon-button mat-tooltip="Elimina este proyecto" (click)="delete()">
            <mat-icon class="md-24">delete_forever</mat-icon>
        </button>
        <button mat-icon-button mat-tooltip="Comparte este proyecto" (click)="share()">
            <mat-icon class="md-24">share</mat-icon>
        </button>
    </mat-toolbar>
    <div class="content">
        <div class="row">
            <div class="col-lg-3">
                <h2 class="title">Tus sesiones de trabajo</h2>
                <div>
                    <button class="main" (click)="addSession()">
                        <mat-icon class="md-24">add</mat-icon>
                    </button>
                    <sessions-list *ngIf="project.sessions" [sessions]="project.sessions"></sessions-list>
                </div>
            </div>
            <div class="col-lg-9">
                <h2 class="title">Tu proyecto holisticamente</h2>
                <div class="row center-xs">
                    <app-radar-chart class="col-xs-12 col-md-6" [idProject]="project.id" level="all"></app-radar-chart>
                    <!-- <alpha-connections class="col-xs-12 col-md-6" *ngIf="project.currentKernel" [kernel]="project.currentKernel"></alpha-connections> -->
                </div>


            </div>
        </div>
    </div>
</div>