<div *ngIf="project">
  <div class="row middle-xs row-detail">
    <div class="title  font-normal">Nombre :</div>
    <div
      class="info  font-normal"
      [matTooltip]="project.description"
      matTooltipPosition="above"
    >
      {{ project.name }}
    </div>
    <span class="fill-remaining"></span>
    <button
      mat-icon-button
      mat-tooltip="Elimina este proyecto"
      (click)="delete()"
      app-not-implemented
    >
      <mat-icon class="md-24">delete_forever</mat-icon>
    </button>
    <button
      mat-icon-button
      mat-tooltip="Comparte este proyecto"
      (click)="share()"
    >
      <mat-icon class="md-24">share</mat-icon>
    </button>
  </div>
  <div class="content pad-1">
    <div class="row">
      <div class="col-lg-3 col-xs-12 last-xs first-md">
        <h2 class="title center">Tus sesiones de trabajo</h2>
        <div>
          <button
            class="main"
            mat-icon-button
            app-loading-clicked
            identifierLoading="addSession"
            (click)="addSession()"
          >
            <mat-icon class="md-24">add</mat-icon>
          </button>
          <app-render-ctrl>
            <sessions-list #data [projectId]="project.id"></sessions-list>
          </app-render-ctrl>
        </div>
      </div>
      <div class="col-lg-9 col-xs-12">
        <h2 class="title align-center">Tu proyecto holisticamente</h2>
        <div class="row center-xs">
          <app-radar-chart
            class="col-xs-12 col-md-6"
          ></app-radar-chart>
          <!--
            <alpha-connections class="col-xs-12 col-md-6" *ngIf="project.currentKernel" [kernel]="project.currentKernel"></alpha-connections>
          -->
        </div>
      </div>
    </div>
  </div>
</div>
