<div *ngIf="project">
  <div class="row middle-xs row-detail">
    <div class="title">{{ project.name }}</div>
    <div class="title">{{ project.description }}</div>
    <span class="fill-remaining"></span>
    <span>Creado el: {{ project.createdAt | date: 'd/M/y' }} </span>
    <button
      mat-icon-button
      mat-tooltip="Elimina este proyecto"
      (click)="delete()"
    >
      <mat-icon class="md-24">delete_forever</mat-icon>
    </button>
    <button
      mat-icon-button
      mat-tooltip="Comparte este proyecto"
      (click)="share()"
    >
      <mat-icon class="md-24">share</mat-icon>
    </button>
  </div>
  <div class="content pad-1">
    <div class="row">
      <div class="col-lg-3">
        <h2 class="title center">Tus sesiones de trabajo</h2>
        <div>
          <button class="main" (click)="addSession()">
            <mat-icon class="md-24">add</mat-icon>
          </button>
          <sessions-list [projectId]="project.id"></sessions-list>
        </div>
      </div>
      <div class="col-lg-9">
        <h2 class="title center">Tu proyecto holisticamente</h2>
        <div class="row center-xs">
          <app-radar-chart
            class="col-xs-12 col-md-6"
            level="all"
          ></app-radar-chart>
          <!--
            <alpha-connections class="col-xs-12 col-md-6" *ngIf="project.currentKernel" [kernel]="project.currentKernel"></alpha-connections>
          -->
        </div>
      </div>
    </div>
  </div>
</div>
