<div class="content-app">
    <div class="row ">
        <div class="col-xs-6 col-md-8">
            <mat-toolbar class="green">
                <span>Opciones</span>
            </mat-toolbar>
            <div class="options">
                <div class="selectable " *ngFor="let option of optionsForUser" (click)="goTo(option)">
                    <mat-card class="optionOfMainView">
                        <mat-card-title>{{option.name}} </mat-card-title>
                        <mat-card-content>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <mat-toolbar color="primary">
                <span>Ultimos proyectos</span>
            </mat-toolbar>
            <mat-list>
                <mat-list-item *ngFor="let folder of folders">
                    <mat-icon md-list-avatar>folder</mat-icon>
                    <h4 md-line>{{folder.name}}</h4>
                    <p md-line class="demo-2"> 10/11/12 </p>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>