@import 'material';
@import 'input-material';
@import 'context-menu';


.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}


.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.fa{
  font-weight: bold !important;
  color:black
}