@import 'button';
@import 'search-filter';
@import 'table';
@import 'input';
@import 'tag';
@import 'select';
@import 'no-found';
@import 'color-text';
@import 'cursor';
@import 'modal-detail';
@import 'back-colors';
@import 'link';
@import 'sidebar';
@import 'login';
@import 'label';
@import 'card';
@import 'title';
@import 'stepper';
@import 'essence';
@import 'loading';

.box-md {
  height: 12vh;
}

.row-detail {
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;
}
