@import 'button';
@import 'search-filter';
@import 'table';
@import 'input';
@import 'tag';
@import 'select';
@import 'no-found';
@import 'color-text';
@import 'cursor';
@import 'modal-detail';
@import 'back-colors';
@import 'link';
@import 'sidebar';
@import 'login';
@import 'label';
@import 'card';
@import 'title';
@import 'stepper';
@import 'essence';
@import 'loading';

.box-md {
  height: 12vh;
}

.row-detail {
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;
}

.error-bar{
  background-color: red;
  color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;

  position:fixed;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  z-index:100;
}