.menu {
  background-color: #00324c;
  &__item {
    color: $white;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 600;
    font-weight: 0.9rem;
    &:hover {
      background-color: #f29f43;
      color: white;
    }
  }
  &__title-section {
    font-weight: 400;
    text-transform: uppercase;
  }
}

.menu__item--active {
  background-color: #f29f43;
  color: white;
}
