<div class="content-app">
    <mat-toolbar>
        <span class="title">{{title}}</span>
        <span class="fill-remaining"></span>
        <button md-icon-button class="main" (click)="showForm()"><mat-icon  >add</mat-icon></button>
        <button md-icon-button class="main"><mat-icon class="md-24">help_outline</mat-icon></button>
    </mat-toolbar>
    <div class="main-content">
        <project-form [hidden]="hideForm" (onCloseForm)="closeCreateForm($event)"></project-form>
        <div *ngIf="projects.length == 0" class="empty-proyects">
            <mat-card>
                <mat-card-content>
                    <div class="col-lg-offset-7 col-lg-5">
                        <p>No tienes ningun proyecto creado</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div *ngIf="!(projects.length == 0)">
            <div class="wrapper">
                <div class="selectable project" *ngFor="let project of projects">
                    <project-card [project]="project" [user]="user"></project-card>
                </div>
            </div>
        </div>
    </div>
</div>