<div class="alpha-card">
    <mat-card [className]="dimension.getType()">
        <mat-card-title>{{dimension.info.name}} </mat-card-title>
        <mat-card-content>
            <div class="state" *ngFor="let state of dimension.states" (click)="select(state)">
                <p [ngClass]="{'achieved':state.isAchaived,
                    'noAchieved': !state.isAchaived,
                    'working': state.isWorking,
                    'selected': isSelected(state)}">
                    {{state.info.name}}</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>