<h4 class=" mat-body-2 align-center col-xs-12">Metas generales:</h4>
<essence-card [name]="alpha.name" [area]="alpha.area">
  <content class="states">
    <div
      *ngFor="let state of alpha.states"
      matTooltip="Haz click para evaluarlo"
      (contextmenu)="onContextMenu($event, state)"
    >
      <div
        class="state row middle-xs center-xs"
        [ngClass]="getClass(state)"
        (click)="select(state)"
      >
        <div class="mat-small">{{ state.name }}</div>
      </div>
    </div>
  </content>
</essence-card>
