/* alpha-card*/

.states {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 5px;
}

.state {
  border: 2px solid currentColor;
  padding: 8px 0;
  margin: 2px;
  cursor: pointer;
  border-radius: 7.5px;
}
.state div {
  color: #878686;
  line-height: 1;
}

.state:hover {
  border-style: solid;
  background-color: currentColor;
}

.todo {
  background-color: transparent;
}

.in-progress {
  background-color: currentColor;
  opacity: 0.6;
}

.achieved {
  border-style: solid;
  background-color: currentColor;
}

.selected {
  box-shadow: 1px 2px 30px 13px rgba(202, 188, 188, 0.79);
}
