<essence-card [name]="dimension.info.name" [area]="dimension.getType()">
    <content>
        <div [ngStyle]="{'height': 'calc( 29vh/'+dimension.states.length+')' }"   class="state-wrapper" *ngFor="let state of dimension.states" >
                    <div class="state row middle-xs center-xs"
                    [ngClass]="{'achieved':state.isAchaived,
                                'noAchieved': !state.isAchaived,
                                'working': state.isWorking,
                                'selected': isSelected(state)}"
                    (click)="select(state)">
                        <div >{{state.info.name}}</div>
                    </div>

        </div>
    </content>
</essence-card>



        