<div>
  <h2 class="primary mat-title">Cree su proyecto g</h2>
  <div>
    <form (ngSubmit)="onSubmit()" #projectForm="ngForm">
      <mat-form-field appearance="outline" class="width-all"
        ><input
          matInput
          class="full-width"
          placeholder="Nombre"
          required
          [(ngModel)]="name"
          name="name"
          maxlength="30"
          #nameProject
        />
      </mat-form-field>
      <mat-form-field class="width-all"
        ><input
          matInput
          class="full-width"
          placeholder="Descripcion"
          required
          [(ngModel)]="description"
          name="description"
          maxlength="150"
          #descriptionProject
        />
      </mat-form-field>
      <br />
      <div class="align-right" fxLayoutGap="10px">
        <button
          type="submit"
          [disabled]="!projectForm.form.valid"
          mat-raised-button
          color="accent"
          class=" mar-0-1"
        >
          Guardar
        </button>
        <button
          type="button"
          mat-raised-button
          color="warn"
          class=" mar-0-1"
          mat-dialog-close
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
