.readonly {
  // color: inherit !important;
  .mat-form-field-infix {
    background-color: #efefef;
  }
}

@mixin itemReadonly() {
  .mat-form-field-underline {
    display: none !important;
  }
  .mat-input-placeholder {
    color: #b9b9b9;
    font-weight: bold;
  }
  .mat-form-field-infix {
    padding: 0.8rem 1rem !important;
    border-radius: 3px !important; // border: none !important;
  }
  color: #7b7878;
  font-weight: bold !important;
}

.readonly-select {
  pointer-events: none;
}

.readonly {
  @include itemReadonly()// >>>>>>> master;
}

.no-readonly {
  .mat-form-field-placeholder {
    // color: #302e2e;
    color: #b9b9b9; // font-weight: bold;
  }
}
/*
mat-form-field.ng-invalid{
  border: solid 1px red;
}*/
