.mat-toolbar {
  background-color: white !important;
}

.mat-toolbar-row {
  height: 60px !important;
}

.toolbar-main {
  z-index: 1000;
}

.mat-drawer-container {
  background-color: #f7f2f2 !important;
}

app-home {
  width: 50%;
}

mat-card {
  padding: 14px !important;
}

mat-chip {
  outline: none;
}

mat-card-title {
  color: $title;
  margin-bottom: 5px;
  font-size: 1.5rem !important;
}

.mat-card-header .mat-card-title {
  color: $title-element;
}

mat-list-item {
  background: white !important;
  display: block;
  div:hover {
    background: #f0f0f0 !important;
    cursor: pointer;
  }
}

/* .mat-select {
        margin-top: -7px !important;
    }*/

.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item.mat-list-item-focus {
  background: rgba(0, 0, 0, 0.04) !important;
}

.mat-card-title {
  color: $second !important;
  margin-bottom: 0 !important;
}

.form-container {
  padding: 10px 10px 0px 10px !important;
}

.mat-tab-label-active {
  background: white;
  color: #002e4c !important;
  font-weight: bold !important;
}

.toggle-light {
  .mat-button-toggle-label-content {
    padding: 0 5px !important;
  }
}

.panel {
  .mat-dialog-content {
    margin: 0 !important;
    padding: 10px 20px !important;
  }
  .mat-dialog-container {
    padding: 0 !important;
  }
  .mat-dialog-title {
    margin: 0 0 0 15px !important;
  }
}

.modal {
  .mat-dialog-container {
    padding: 0 !important;
  }
}

.mat-expansion-panel-header {
  background: #e6e8ea;
}

.mat-expanded {
  .mat-expansion-panel-header {
    background: rgb(230, 232, 234);
    border-bottom: 1px solid #9fa2a4;
  }
}

.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
  background: #ecf1f4 !important;
}

textarea.mat-input-element {
  text-align: justify;
}

.ui-fileupload-content {
  position: absolute !important;
  left: 242px !important;
  top: -2px !important;
}

.ui-fileupload-content {
  padding: 0px;
}

.optionDocument {
  .mat-select-value {
    display: none !important;
  }
  .mat-select-trigger {
    min-width: 0vh !important;
  }
  .mat-card-header-text {
    height: 2vh !important;
  }
}

.panelChat {
  .mat-dialog-container {
    padding: 0 !important;
  }
}

.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  display: none !important;
}

.buttonAddOver {
  z-index: 100;
  .mat-expansion-panel-body {
    padding: 0px 16px !important;
  }
}

.expansion-panel-changes {
  .mat-expansion-panel-body {
    padding: 24px 16px !important;
  }
}

// @mixin itemReadonly() {
//   .mat-form-field-underline {
//     display: none !important; // color: #cec7c7
//   }
//   .mat-input-placeholder {
//     color: #b9b9b9 !important;
//     font-weight: bold;
//   }
//   color: inherit !important;
//   font-weight: bold !important;
// }

// .readonly {
//   @include itemReadonly()
// }

// .readonlyContainer {
//   mat-form-field {
//     @include itemReadonly()
//   }
// }

mat-form-field {
  font-size: 15px !important;
}

.ele-select {
  .mat-input-underline {
    display: block !important;
  }
}

.mat-list-option {
  height: 4vh !important;
}

.mat-list-text p {
  color: rgba(0, 0, 0, 0.38);
}

.mat-form-field {
  font-size: 17px !important;
}

.all-group {
  .mat-button-toggle-label {
    width: 100%;
    .mat-button-toggle-label-content {
      width: 100%;
    }
  }
}

.mat-raised-button {
  color: white !important;
}

.button--alpha {
  background-color: currentColor;
  margin: 0.3rem;
  padding: 0.5rem;
  width: 11rem;
  .text {
    color: #aca8a8;
    text-align: center;
  }
}
