@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/omega/theme.css";
.ui-datatable .ui-column-title {
}

.ui-datatable .ui-datatable-thead > tr > th,
.ui-datatable .ui-datatable-tfoot > tr > td,
.ui-datatable .ui-datatable-data > tr > td {
  padding: 1rem !important;
  background: transparent !important;
  @include for-size(phone-only) {
    padding: 0.5rem !important;
    line-height: 1.2;
  }
}

.ui-state-default {
  text-transform: uppercase;
  color: #bac0d3 !important;
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}

.ui-cell-data {
  font-family: "Poppins" !important;
}

.ui-datatable {
  .ui-state-default {
    border: unset !important;
  }
}

.ui-widget {
  font-family: inherit !important;
}

.ui-datatable .ui-datatable-thead > tr > th,
.ui-datatable .ui-datatable-tfoot > tr > td,
.ui-datatable .ui-datatable-data > tr > td {
  border: unset !important;
}

.ui-widget-content {
  border: unset !important;
  border-top: 1px solid #f2f3f8 !important;
  color: $grey-900;
}

.ui-datatable .ui-datatable-thead > tr > th,
.ui-datatable .ui-datatable-tfoot > tr > td,
.ui-datatable .ui-datatable-data > tr > td {
  text-align: left;
}

//body
.ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd {
  background-color: white !important;
}

.ui-datatable
  tbody.ui-datatable-hoverable-rows
  > tr.ui-widget-content:not(.ui-state-highlight) {
  transition: 0.5s !important;
}

.ui-datatable
  tbody.ui-datatable-hoverable-rows
  > tr.ui-widget-content:not(.ui-state-highlight):hover {
  background-color: #ffffff !important;
  box-shadow: 0px 5px 15px #d4dde6;
  position: relative;
  z-index: 1000;
  transform: scale(1);
}

.ui-datatable-emptymessage {
  display: none;
}
