<mat-toolbar>
    <span>{{title}}</span>
    <span class="fill-remaining"></span>
    <button md-icon-button class="main" (click)="showForm()">
      <mat-icon  >add</mat-icon>
    </button>
    <button md-icon-button class="main">
      <mat-icon class="md-24">find_in_page</mat-icon>
    </button>
    <button md-icon-button  class="main">
        <mat-icon class="md-24">help_outline</mat-icon>
    </button>
</mat-toolbar>
<div class="main-content">
    <button md-button (click)="show()">content</button>

    <form-user [hidden]="hideForm"></form-user>
    <div class="wrapper">
        <div class="selectable project" *ngFor="let user of users" (click)="onSelect(user)">
            <mat-card>
                <mat-card-title>{{user.email}} </mat-card-title>
                <mat-card-content>
              </mat-card-content>
                <mat-card-actions>
                    <button md-button>Conocelo</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>