.separator {
  width: 250px;
  height: auto;
  position: relative;
}
.container-selected {
  border: dashed;
}
.quit {
  position: absolute;
  bottom: 1px;
  right: 0;
}

.button--alpha {
  height: 3.5rem;
}
