.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.relative {
  position: relative;
}

.corner-rb {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
}
