<div *ngIf="(project$ | async) as project" fxLayout="column" fxFlex>
  <div fxLayout="column-reverse" fxLayout.gt-sm="row" class="pad-top-1">
    <div fxFlex="100" fxFlex.gt-sm="25">
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-around center">
        <h2 class="primary">Your work sessions</h2>
        <button
          class="main"
          mat-icon-button
          app-loading-clicked
          identifierLoading="addSession"
          (click)="addSession(project)"
        >
          <mat-icon class="md-24">add</mat-icon>
        </button>
      </div>

      <app-render-ctrl
        (addButton)="addSession(project)"
        [options]="optionsRender"
      >
        <sessions-list #data [projectId]="project.id"></sessions-list>
      </app-render-ctrl>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="75">
      <div fxLayout="column" fxLayoutAlign="start center">
        <h2 class="primary align-center">Project progress</h2>
        <h4 class="info align-center">
          in each of its dimensions and sessions over time
        </h4>
        <app-radar-chart fxFlex.gt-sm="40"></app-radar-chart>
      </div>
      <!--<alpha-connections class="col-xs-12 col-md-6" *ngIf="project.currentKernel" [kernel]="project.currentKernel">
      </alpha-connections> -->
    </div>
  </div>
</div>
