<div *ngIf="(project$ | async) as project" fxLayout="column" fxFlex>
  <header
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="row-detail"
  >
    <div class="text--head">
      <span class="mat-body-1 primary">Nombre:</span>
      <span
        class="info mat-body-1"
        [matTooltip]="project.description"
        matTooltipPosition="above"
      >
        {{ project.name }}
      </span>
    </div>
    <div>
      <button
        mat-icon-button
        mat-tooltip="Elimina este proyecto"
        (click)="delete()"
        app-not-implemented
      >
        <mat-icon class="md-24">delete_forever</mat-icon>
      </button>
      <button
        mat-icon-button
        mat-tooltip="Comparte este proyecto"
        (click)="share(project)"
      >
        <mat-icon class="md-24">share</mat-icon>
      </button>
    </div>
  </header>
  <div fxLayout="column-reverse" fxLayout.gt-sm="row" class="pad-top-1">
    <div fxFlex="100" fxFlex.gt-sm="20">
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <h2 class="primary">Tus sesiones de trabajo</h2>
        <button
          class="main"
          mat-icon-button
          app-loading-clicked
          identifierLoading="addSession"
          (click)="addSession(project)"
        >
          <mat-icon class="md-24">add</mat-icon>
        </button>
      </div>

      <app-render-ctrl>
        <sessions-list #data [projectId]="project.id"></sessions-list>
      </app-render-ctrl>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="80">
      <div fxLayout="column" fxLayoutAlign="start center">
        <h2 class="primary align-center">Tu proyecto holisticamente</h2>
        <app-radar-chart fxFlex.gt-sm="40"></app-radar-chart>
      </div>
      <!--<alpha-connections class="col-xs-12 col-md-6" *ngIf="project.currentKernel" [kernel]="project.currentKernel">
      </alpha-connections> -->
    </div>
  </div>
</div>
