
.pad-ver-1 {
  padding: 1rem 0;
}

.pad-ver-2 {
  padding: 2rem 0;
}

.pad-ver-3 {
  padding: 3rem 0;
}

.pad-ver-5 {
  padding: 5rem 0;
}

.pad-ver-6 {
  padding: 6rem 0;
}

.pad-ver-7 {
  padding: 7rem 0;
}

.pad-ver-8 {
  padding: 8rem 0;
}
