.pad-0 {
  padding: 0;
}
.pad-0-3 {
  padding: 0.3rem;
}
.pad-0-5 {
  padding: 0.5rem;
}

.pad-1 {
  padding: 1rem;
}

.pad-1-5 {
  padding: 1.5rem;
}

.pad-2 {
  padding: 2rem;
}

.pad-3 {
  padding: 3rem;
}
