<div class="content-app">
  <div class="row between-xs middle-xs">
    <span class="title">{{ title }}</span>
    <button mat-icon-button class="main" (click)="createProject()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="main-content mar-1">
    <div *ngIf="loaded && projects.length == 0" class="empty-proyects">
      <div class="shadow"><p>No tienes proyectos</p></div>
    </div>
    <div class="container-elements row">
      <project-card
        class="col-xs-12 col-md-3"
        *ngFor="let project of projects"
        [project]="project"
        [user]="user"
      ></project-card>
    </div>
  </div>
</div>
