$xs: 480px;
$sm: 736px;
$md: 980px;
$lg: 1280px;
$xl: 1690px;
//new breakpoints
$phone-upper-boundary: 600px;
$tablet-portrait-upper-boundary: 900px;
$tablet-landscape-upper-boundary: 1200px;
$desktop-upper-boundary: 1800px;
