
<essence-card *ngIf="state" class="state-card selectable" [name]="state.dimension.name" [area]="state.dimension.getType()">
    <content>
      <div class="state-card-wrapper">
        <div class="state-name   row middle-xs center-xs">
            <div>{{state.name}}</div>
          </div>
            <ul class="checkpoints">
              <li *ngFor="let checkpoint of state.getMainChecklist()">
                {{checkpoint.name}}
              </li>
            </ul>
      </div>
    </content>
    <footer>
    </footer>
</essence-card>
