<essence-card
  *ngIf="state"
  class="state-card"
  [name]="alpha.name"
  [area]="alpha.area"
>
  <content>
    <div class="state-card-wrapper">
      <div>
        <div class="rounded row middle-xs center-xs">
          <div>{{ state.name }}</div>
        </div>
        <ul class="checkpoints">
          <li *ngFor="let checkpoint of cardCheckpoints">
            {{ checkpoint.name }}
          </li>
        </ul>
      </div>
      <footer class="rounded row middle-xs center-xs">
        <div>{{ getNumber(state) }}/{{ alpha.states.length }}</div>
      </footer>
    </div>
  </content>
  <footer></footer>
</essence-card>
