<div *ngIf="state" class="state-card selectable">
  <div [className]="classCSS">
    <mat-card [className]="state.dimension.getType()">
      <div>
        <mat-card-title>{{state.dimension.name}}</mat-card-title>
      </div>
      <mat-card-content>
        <p class="state-name">{{state.name}}</p>
        <ul>
          <li *ngFor="let checkpoint of state.getMainChecklist()">
            {{checkpoint.name}}
          </li>
        </ul>
        <div class="footer-card">
          <p>1-6</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>