.state-card-wrapper {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.state-card .rounded {
  border: solid currentColor 2px;
  border-radius: 5px;
  margin: 2px 4px;
  font-size: 16px;
}
.state-card .rounded div {
  color: black;
}
.state-card ul {
  list-style-position: inside;
  list-style-type: disc;
}
.state-card li {
  color: #8f8b8b;
  line-height: 1;
  text-align: justify;
  margin: 3px 1px;
}

.checkpoints {
  margin: 4px 2px;
  padding: 0;
  font-size: 12px;
}
