<div>
  <mat-form-field class="width-all">
    <input
      matInput
      #searchBox
      (input)="search(searchBox.value)"
      placeholder="Escribe aqui su correo"
      maxlength="30"
    />
    <button
      matSuffix
      color="primary"
      mat-flat-button
      (click)="invite()"
      [disabled]="!selectedUser"
    >
      Invitar
    </button>
  </mat-form-field>

  <mat-list>
    <mat-list-item *ngFor="let user of users" (click)="select(user)">
      <app-our-avatar [user]="user" matListAvatar></app-our-avatar>
      <h3 mat-line>{{ user.name }}</h3>
      <p mat-line>
        <span> {{ user.email }} </span>
      </p>
      <span *ngIf="isMember(user)">Parte del equipo</span>
    </mat-list-item>
  </mat-list>
</div>
