<div>
  <mat-form-field appearance="outline"
    ><input
      matInput
      #searchBox
      (input)="search(searchBox.value)"
      placeholder="Escribe aqui su correo"
      maxlength="30"
    />
    <mat-hint align="end">{{ searchBox.value.length }} / 30</mat-hint>
  </mat-form-field>
  <mat-list>
    <mat-list-item *ngFor="let user of users">
      <app-our-avatar [user]="user" matListAvatar></app-our-avatar>
      <h3 mat-line>{{ user.name }}</h3>
      <p mat-line>
        <span> {{ user.email }} </span>
      </p>
      <span *ngIf="isMember(user); else invite">Parte del equipo</span>
      <ng-template #invite>
        <button mat-flat-button (click)="select(user)">Invite</button>
      </ng-template>
    </mat-list-item>
  </mat-list>
</div>
