

.main{
    background-color: #7cb987;
    color: white;
    margin: 10px;
}
.main-content{
	text-align: center;
    padding-top: 10px;
    min-height: 360px;
}
.main-content .container{
	width: 50%;
}
.empty-proyects{
    margin: 10% 23%;
}
.empty-proyects mat-card{
    border: dashed #7cb987;
}

mat-sidenav.invitation {
    width:250px;
}





