<div class="content-app">
    <mat-toolbar>
        <span class="title">{{title}}</span>
        <span class="fill-remaining"></span>
        <button mat-icon-button class="main" (click)="createProject()"><mat-icon  >add</mat-icon></button>
    </mat-toolbar>
    <div class="main-content mar-1">
     
        <div *ngIf="loaded && projects.length == 0" class="empty-proyects">
            <mat-card>
                <mat-card-content>
                        <p>No tienes proyectos</p>
                </mat-card-content>
            </mat-card>
        </div>
            <div class="wrapper">
                <div class=" project" *ngFor="let project of projects">
                    <project-card [project]="project" [user]="user"></project-card>
                </div>
            </div>
    </div>
</div>