@import 'wrapper';
@import 'margin/margin';
@import 'margin/margin-top';
@import 'margin/margin-left';
@import 'margin/margin-vertical';
@import 'padding/padding';
@import 'padding/padding-top';
@import 'padding/padding-vertical';
@import 'align-text';
@import 'positions';
@import 'width';
@import 'text';
@import 'height';

$spacer: 3rem;
* {
  box-sizing: border-box;
}
.p-0 {
  padding: 0;
}

.p-1 {
  padding: $spacer * 0.25;
}

.p-2 {
  padding: $spacer * 0.5;
}

.p-3 {
  padding: $spacer;
}

.m-1 {
  margin: $spacer * 0.25;
}
.m-2 {
  margin: $spacer * 0.5;
}
.m-3 {
  margin: $spacer;
}

.all-width {
  width: 100%;
}
.middle-width {
  width: 50%;
}
.center {
  text-align: center;
}
.auto {
  margin: auto;
}

.viewport {
  width: 100vw;
  height: 100vh;
}

.pointer {
  cursor: pointer;
}
