.wrapper {
  margin: auto;
  @include for-size(phone-only) {
    width: 95% !important;
  }
  @include for-size(tablet-portrait-up) {
    width: 92.5% !important;
  }
  @include for-size(tablet-landscape-up) {
    width: 90% !important;
  }
  @include for-size(desktop-up) {
    width: 87.5% !important;
  }
  @include for-size(big-desktop-up) {
    width: 85% !important;
  }
}
