<div class="auth">
  <img src="assets/img/logos/logo-horizontal.png" alt="Essboard">
   <mat-card class="content">
    <mat-card-content>
       <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline"><input matInput  type="name" formControlName="name" class="full-width" placeholder="Nombre de usuario" required dividerColor="{{ errors.name ? 'warn' : 'primary' }}">
          <mat-hint *ngIf="errors.name" align="end">
            <span>{{ errors.name  }}</span>
          </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline"><input matInput  type="email" formControlName="email" class="full-width" placeholder="Correo electrónico" required dividerColor="{{ errors.email ? 'warn' : 'primary' }}">
          <mat-hint *ngIf="errors.email" align="end">
            <span>{{ errors.email  }}</span>
          </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline"><input matInput  type="password" formControlName="password" class="full-width" placeholder="Contraseña" required dividerColor="{{ errors.password ? 'warn' : 'primary' }}">
          <mat-hint *ngIf="errors.password" align="end">
            <span>{{ errors.password  }}</span>
          </mat-hint>
        </mat-form-field>
        <button type="submit" [disabled]="!signupForm.valid" md-raised-button class="main">Registrate</button>   
        <div class="more-options">
          <span><a routerLink="/login">Ya tengo una cuenta</a></span>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
