
<app-loading [isLoading]="isLoading" fxLayout="coumn">
    <span>{{project.name}}</span>
    <span>{{project.lastUpdate | timeAgo}}</span>
        
    <!--<nav-bar>
        <editable onHoverShow="Cambiar nombre">{{project.name}}</editable> 
        <time-ago [value]="project.lastUpdate" />
        <share [url]="url"></share>
        <delete></delete>
    </nav-bar>
    
    <div fxLayout scrolleable>
       <button (click)="create()" mat-icon-button><mat-icon>add</mat-icon></button>
       <div circle (click)="goTo(session)"  *ngFor="let session of sessions; let i=index" class="circle">
           {{ index+1 }}
       </div>
    </div>
    <div fxLayout>
        <radar-chart fxFlex="50" [state]="project.state"></radar-chart>
        <alphas-network [state]="project.state"  fxFlex="50"></alphas-network>
    </div>
    <markup>{project.description}</markup>
    -->
</app-loading>