$golden-ratio:1.61803398875;
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  // text-transform: uppercase;
}

h1 {
  font-size: 2rem; // line-height: 2rem*$golden-ratio;
}

h2 {
  font-size: 1.5rem; // line-height: 1.5rem*$golden-ratio;
}

h3 {
  font-size: 1.17rem; // line-height: 1.17rem*$golden-ratio;
}

h4 {
  font-size: 1.12rem; // font-size: 1rem;
  // line-height: 1.12rem*$golden-ratio;
}

h5 {
  font-size: .83rem; // line-height: .83rem*$golden-ratio;
}

h6 {
  font-size: .67rem; // line-height: .67rem*$golden-ratio;
}
