<div *ngIf="user">
    <mat-toolbar class="project-detail">
        <button mat-icon-button>
            <mat-icon class="md-24">settings</mat-icon>
        </button>
        <span> Usuario : {{user.email}}</span>
        <span> {{ user.createdAt | date:'d/M/y' }}  </span>
        <span class="fill-remaining"></span>
        <button mat-icon-button>
            <mat-icon class="md-24" (click)="delete()" >delete_forever</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon class="md-24">update</mat-icon>
        </button>
    </mat-toolbar>
  
</div>
<mat-form-field appearance="outline"><input matInput  placeholder="escriba algo" (keyup)="onKey($event)"  [(ngModel)]="word" ></mat-form-field>
<p>{{hash}}</p>
<svg width="200" height="200" [attr.data-jdenticon-hash]="hash">>

</svg>
<canvas [attr.width]="80" [attr.height]="80" [attr.data-jdenticon-hash]="hash"></canvas>