.cmp-card {
  background-color: #d8e4fd;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  color: #4486f9;
  .cmp-card__icon {
    background-image: url('/assets/images/icons/footprint.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
  h4 {
    text-transform: uppercase;
  }
  &:hover {
    box-shadow: 0 3px 6px rgba(black, 0.2);
  }
}

.cmp-card--red {
  background-color: #ffdee4;
  color: #ff5f7d;
  .cmp-card__icon {
    background-image: url('/assets/images/icons/oath.svg');
  }
}

.cmp-card--yellow {
  background-color: #ffefdc;
  color: #ffb25a;
  .cmp-card__icon {
    background-image: url('/assets/images/icons/handshake.svg');
  }
}

//blue #4486F9
//blue #D8E4FD
//red #FF5F7D
//red #FFDEE4
