.modal {
  &__header {
    color: $white;
  }
  &__body {
    h3 {
      color: #bac0d3;
    }
    p {
      margin-top: 0.2rem;
    }
    .cmp-tag {
      color: white;
    }
  }
}

.modal--act-investigation {
  max-height: 80vh;
  overflow-y: auto;
}
