.search-filter {
  border: 1px solid #dedfe8;
  border-radius: 3px;
  .search-filter__search {
    padding: .8rem 1.6rem;
    border: 1px solid white;
  }
  .search-filter__filter {
    border-left: 1px solid #ECEDF4;
    box-shadow: unset;
  }
}
