.table {
  &__header {
    li {
      h3 {
        text-transform: uppercase;
        color: $grey-400;
      }
    }
  }
  &__body {
    border-top: 1px solid $grey-50;
    li {
      // border-top: 1px solid #F2F3F8;
    }
  }
}

.table--mini {
  .table__header {
    // background-color:#0085F6;
    li {
      background-color: $navy;
      h3 {
        color: $white;
      }
    }
  }
  .table__body {
    li {
      // border-top: 1px solid #F2F3F8;
    }
  }
}
