.cmp-tag {
  border-radius: 3px;
  color: white;
  padding: 0 0.5rem;
}

.cmp-tag--red {
  background-color: #ff325b;
}

.cmp-tag--green {
  background-color: #00cb4c;
}

.cmp-tag--yellow {
  background-color: #ffcb4b;
}

.cmp-tag--blue {
  color: #517993;
}
.cmp-tag--primary {
  background-color: #517993;
}
