.cmp-tag {
  border-radius: 3px;
  color: white;
  padding: 0 .5rem;
}

.cmp-tag--red {
  background-color: #FF325B;
}

.cmp-tag--green {
  background-color: #00CB4C;
}

.cmp-tag--yellow {
  background-color: #FFCB4B;
}

.cmp-tag--blue {
  color:#517993;
}
.cmp-tag--primary {
  background-color:#517993;
}
