<mat-card>
  <mat-card-title>Configuracion de la App key Trello</mat-card-title>
  <mat-card-content>
    <p><a href="https://trello.com/app-key">1. Ingresa a este link</a></p>
    <p>2. Copia el valor del campo Tecla o Key</p>
    <form [formGroup]="appKeyForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline"
        ><input
          matInput
          type="text"
          formControlName="appKey"
          class="full-width"
          placeholder="App Key Trello"
          required
        />
        <!--
          <mat-hint *ngIf="errors.appKey" align="end">
            <span>{{ errors.appKey }}</span>
          </mat-hint>
        -->
      </mat-form-field>
      <button
        type="submit"
        [disabled]="!appKeyForm.valid"
        mat-raised-button
        class="main"
      >
        Establecer API Key Trello
      </button>
    </form>
  </mat-card-content>
</mat-card>
