<div class="">
  <div class="align-right">
    <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </div>
  <h1 class="primary mat-headline">Comparte el proyecto con:</h1>
  <div>
    <search-user (onSubmit)="invite($event)"></search-user>
    <table class="table table-bordered">
      <tr>
        <th></th>
        <th>Colaboradores del proyecto:</th>
        <th></th>
      </tr>

      <tr *ngFor="let member of members">
        <td><app-our-avatar [user]="member"></app-our-avatar></td>
        <td class="pad-0-5">{{ member.email }}</td>
        <td>
          <button mat-icon-button (click)="delete(member)">
            <mat-icon class="md-24">delete_forever</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
