<div class="">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h1 class="primary mat-headline">Share your project to:</h1>
    <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </div>

  <div>
    <search-user (onSubmit)="invite($event)"> </search-user>
    <p class="align-center mat-body-1">{{ message }}</p>
    <br />
    <hr />
    <table class="table table-bordered">
      <tr>
        <th colspan="3">Current members:</th>
      </tr>

      <tr *ngFor="let member of members">
        <td><app-our-avatar [user]="member"></app-our-avatar></td>
        <td class="pad-0-5">{{ member.email }}</td>
        <td>
          <button mat-icon-button (click)="delete(member)">
            <mat-icon class="md-24">delete_forever</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
