<app-header>
  <right-content>
    <div *ngIf="!auth.isLoggedIn; else userLogged" class="row">
      <a class="button col-xs-12 col-sm-6" mat-button color="primary" routerLink="/login">Ingresa</a>
      <a class="button col-xs-12 col-sm-6" mat-button color="primary" routerLink="/signup">Registrate</a>
    </div>
    <ng-template #userLogged>
      <a class="button" mat-button color="primary" routerLink="/me/projects">Entrar</a>
    </ng-template>
  </right-content>
</app-header>
<div class="row center-xs middle-xs pad-1">
  <h1 class="row mat-display-1 primary pad-top-4  col-6 align-center">
    {{ labels.slogan }}
  </h1>
  <h4 class="row mat-display-1 info col-6 align-center">
    {{ labels.description }}
  </h4>
  <div class="row center-xs middle-xs width-all">
    <a class="btn-big" mat-stroked-button color="accent" routerLink="/me/projects">{{ labels.start }}
    </a>
  </div>
  <div class="width-all p-2">
    <div class="row center-xs middle-xs">
      <div class="row around-xs middle-xs pad-top-2">
        <div class="icon align-center" *ngFor="let item of kernelIcons">
          <div class="icon-image auto" [ngStyle]="{
              background: getBackground(item)
            }"></div>
          <h3 class="info align-center">{{ item.name }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
