<app-header>
  <right-content>
      <a class="button" mat-button color="primary" routerLink="/login">Ingresa</a>
      <a class="button" mat-button color="primary" routerLink="/signup">Registrate</a>
  </right-content>
</app-header>
<div fxLayout="column" fxLayoutAlign="center center">
  <h1 class="mat-display-2 primary center">{{ labels.slogan }}</h1>
  <h4 class="mat-display-1 info middle-width center">{{ labels.description }}</h4>
  <a class="p-2" mat-raised-button color="accent" routerLink="/projects">{{ labels.start }} </a>
  <div class="all-width p-2">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxLayout="row wrap" fxFlex.xs="60" fxFlex.md="70" fxFlex.sm="70" fxLayoutAlign="space-around center">
        <div class="icon center" *ngFor="let item of kernelIcons">
          <div class="icon-image auto" [ngStyle]="{
                    'background': getBackground(item)}">
          </div>
          <h3 class="info center">{{item.name}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
