<div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
  <div *ngIf="invitation">
    <div background-color="#5fbed0" padding-bottom="5px" padding-top="0">
      <h3 class="mat-display-1">
        ¡Hola!, <strong>{{ invitation.from.name }}</strong> te ha invitado
        unirse al proyecto <strong>{{ invitation.project.name }}</strong>
      </h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <button mat-flat-button color="primary" (click)="accept(invitation)">
        Aceptar invitación
      </button>
      <button mat-stroked-button (click)="decline(invitation.id)">
        Rechazar
      </button>
    </div>
    <!-- <div>
      <div width="50%">
        <div class="mat-caption">
          ¿from.name te esta enviando spam o contenido malicioso?  Bloquea from.name
        </div>
      </div>
    </div> -->
  </div>
</div>
