@import 'settings/main';
@import '2.tools/main';
@import '3.generic/main';
@import '4.elements/main';
@import 'objects/main';
@import 'components/main';
@import '7.vendor/main';
@import '8.trumps/main';

html {
  @media (min-width: 20rem) {
    font-size: 14px;
  }
  @media (min-width: 30em) {
    font-size: 10px;
  }
}

.responsive {
  width: 100%;
  height: auto;
}
.responsive-width {
  width: auto;
  height: 90%;
}
.width-70 {
  width: 70%;
}
