<!-- TODO create project from template-->
<div fxLayout fxLayout.xs="column" class="p-3">
    <div class="info p-2" fxFlex="30">
        <h3>New project</h3>
        <p>A project is where you house your files (repository), plan your work (issues), and publish your documentation (wiki),
            among other things.</p>
        <p>All features are enabled when you create a project, but you can disable the ones you don’t need in the project settings.</p>
    </div>
    <div class="form p-2" fxFlex fxLayout="column">
        <label>Name</label>
        <mat-form-field floatLabel="never">
            <input matInput placeholder="your-proyect-name">
        </mat-form-field>

        <label>Description (optional)</label>
        <textarea  placeholder="Make a short description of your project"  col="50" rows="4"></textarea>


        <p>Visibility</p>
        <div>
            <input type="checkbox">
            <span>Private</span> Project access must be granted explicitly to each user.
        </div>
        <div>
            <input type="checkbox">
            <span>Public</span> The project can be accessed without any authentication.
        </div>

        <button mat-raised-button color="primary">Create project</button>
        <a routerLink="/projects" mat-raised-button>Cancel</a>
    </div>
</div>